<template>
    <div class="footer">
        <div class="box-container">

            <div class="box">
                <h3>Internal Links</h3>
                <router-link @click="scrollToTop()" to="/"> <i class="fas fa-arrow-right"></i>Home</router-link>
                <router-link @click="scrollToTop()" to="/menus"> <i class="fas fa-arrow-right"></i>Menu</router-link>
            </div>

            <div class="box">
                <h3>Extra links</h3>
                <div v-if="user">
                    <router-link @click="scrollToTop()" to="/cart"> <i class="fas fa-arrow-right"></i>My Order
                    </router-link>
                </div>
                <div v-else>
                    <router-link @click="scrollToTop()" to="/login"> <i class="fas fa-arrow-right"></i>Login</router-link>
                    <router-link @click="scrollToTop()" to="/register"> <i class="fas fa-arrow-right"></i>Register</router-link>
                </div>
            </div>

            <div class="box">
                <h3>opening hours</h3>
                <p>Setiap Hari : 7:00am to 10:00pm</p>

            </div>
        </div>
        <div class="col text-center" style="font-size: small;">
            Micko Andrian <i class="fa fa-copyright" aria-hidden="true"></i>
            2022
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
    name: 'FooterComponent',

    computed: {
        ...mapState(['user'])
    },

    methods: {
        scrollToTop() {
            window.scrollTo(0, 0);
        }
    }
}
</script>

<style scoped>
/* footer */
.footer {
    background: #f7f7f7;
    padding: 2rem 9%;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.2rem;
    color: #130f40;
    padding: 1rem 0;
}

.footer .box-container .box p {
    font-size: 1.4rem;
    color: #666;
    padding: 1rem 0;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.4rem;
    color: #666;
    padding: 1rem 0;
}

.footer .box-container .box a:hover {
    color: #27ae60;
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .box-container .box a i {
    padding-right: .5rem;
    color: #27ae60;
}

@media (max-width: 576px) {
    .footer .box-container {

        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

    }

}
</style>