<template>
    <div class="order-details">
        <div class="order-details-inner">
            <h2 class="d-flex justify-content-between">Detail Pesanan
                <slot></slot>
            </h2>
            <div class="d-flex flex-wrap h-50 flex-row" style="overflow-y: auto;">
                <div style="flex: 50%;" v-for="(f, index) in filterMenus" :key="f.menu_id">
                    <div class="product-detail d-flex">
                        <div class="image">
                            <img :src="require(`../assets/images/${f.menu_src}`)" alt="" />
                        </div>
                        <div class="content">
                            <p class="name">{{ f.menu_name }} <span>X {{ item_qty[index] }}</span></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="price">
                <p>ID Pelanggan : {{ billMatch.bill_id }} </p>
                <p>Alamat Pelanggan : {{ billMatch.bill_address }} </p>
                <p>Metode Pembayaran : {{ billMatch.bill_method }} </p>
                <p>Ongkos Kirim: Rp. {{ billMatch.bill_delivery }}</p>
                <p>Total: Rp. {{ billMatch.bill_total }}</p>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import { mapState } from "vuex";
export default {
    props: ['bill'],
    name: "OrderDetails",

    data() {
        return {
            allMenusInBill: [],
            item_qty: [],

            billMatch: undefined,
        }
    },

    created() {
        this.getAllMenus();
        this.getBillStatus()
    },

    computed: {
        ...mapState(["allMenus"]),

        filterMenus: function () {
            return this.allMenus.filter(
                (f) => this.matchID(f, this.allMenusInBill)
            );
        },
    },

    methods: {
        matchID: function (menu, cartArray) {
            let temp = "";
            cartArray.forEach(element => {
                if (parseInt(menu.menu_id) == element) {
                    temp = menu
                }
            });
            return temp
        },

        async getAllMenus() {
            if (this.bill) {
                let data = (await axios.get('/billdetails/' + this.bill)).data;
                data.forEach(element => {
                    this.allMenusInBill.push(element.menu_id);
                    this.item_qty.push(element.item_qty)
                });
            }
        },

        async getBillStatus() {
            if (this.bill) {
                this.billMatch = (await axios.get('/billstatus/bill/' + this.bill)).data[0];
            }
        },
    }
}
</script>

<style scoped>
.order-details {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: center;
    justify-content: center;
}

.order-details .order-details-inner {
    width: 60vw;
    height: 70vh;
    background-color: #fff;
    padding: 32px;
}


.order-details .order-details-inner h2 {
    margin: 0;
    font-size: 32px;
    color: #27ae60;
    margin-bottom: 5px;
}


.order-details .order-details-inner .product-detail .image img {
    height: 10rem;
    width: 17rem;
    margin: 10px;
}

.order-details .order-details-inner .product-detail .content {
    margin-top: 20px;
    font-size: 12px;
    width: 100%;
}

.order-details .order-details-inner .product-detail .content p:first-of-type {
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.order-details .order-details-inner .product-detail .content p span {
    font-size: 14px;
    color: black;
}

.order-details .order-details-inner .price {
    font-size: 16px;
    font-weight: bold;
}


@media (max-width: 768px) {

    .order-details .order-details-inner {
        width: 70vw;
        height: 60vh;
    }

    .order-details .order-details-inner h2 {
        font-size: 20px;
    }

    .order-details .order-details-inner .product-detail .content .desc,
    .order-details .order-details-inner .product-detail .content .name span {
        font-size: 12px !important;
    }

    .order-details .order-details-inner .product-detail .content .name {
        font-size: 14px !important;
    }


}

@media (max-width: 576px) {
    .order-details .order-details-inner {
        width: 90vw;
        height: 65vh;
    }

    .order-details .order-details-inner div:first-of-type {
        flex-direction: column;
    }
}

@media (max-width: 376px) {
    .order-details .order-details-inner {
        width: 90vw;
        height: 65vh;
        padding: 5px !important;
    }

    .order-details .order-details-inner .product-detail .content .name {
        font-size: 12px !important;
    }


}
</style>
