<template>
    <vue-basic-alert :duration="300" :closeIn="2000" ref="alert" />

    <div v-if="user" class="quick-view">
        <div class="quick-view-inner" v-for="m in selectedMenu" :key="m">
            <h2 class="d-flex justify-content-between">{{ m.menu_name }}
                <slot></slot>
            </h2>
            <div class="product-detail d-flex">
                <div class="image">
                    <img :src="require(`../assets/images/${m.menu_src}`)" alt="" />
                </div>
                <div class="content">
                    <p class="money" style="font-weight: bold">
                        Harga : <span style="font-weight: normal">Rp. {{ m.menu_price }}</span>
                    </p>
                    <div class="qty">
                        <label for="qty" style="font-weight: bold">Kuantitas :</label>
                        <input type="number" name="qty" id="qty" value="1" min="1" max="1000"
                            @change="onQtyChange($event)" />
                    </div>
                    <button class="btn" @click="addToCart">Tambah</button>
                </div>
            </div>
        </div>
    </div>
    <div v-else class="quick-views">
        <div class="quick-views-inner">
            <h2 class="d-flex justify-content-between" style="font-size: 25px;">Silahkan Login Untuk Memesan
                <slot style="margin-top: 30px"></slot>
            </h2>
            <div class="link-to-login" style="text-align: center; margin-top: 50px;">
                <router-link class="btn" to="/login" style="padding: 10px; font-size: 25px; width: 500px;">Login</router-link>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import { mapState } from "vuex";
import VueBasicAlert from 'vue-basic-alert';
export default {
    props: ['menu'],
    name: "QuickViews",

    data() {
        return {
            qty: 1,
        }
    },

    computed: {
        ...mapState(["allMenus", "user"]),

        selectedMenu: function () {
            return this.allMenus.filter((m) => parseInt(m.menu_id) == parseInt(this.menu));
        }
    },

    methods: {
        onQtyChange: function (e) {
            if (e.target.value < 1) {
                e.target.value = 1;
                this.qty = e.target.value;
            } else {
                this.qty = e.target.value;
            }
        },

        async addToCart() {
            let existItem = await axios.get('/cartItem/' + parseInt(this.user.user_id) + '/' + parseInt(this.menu));

            if (existItem.data.length == 1) {
                let data = {
                    user_id: parseInt(this.user.user_id),
                    menu_id: parseInt(this.menu),
                    item_qty: parseInt(this.qty) + parseInt(existItem.data[0].item_qty)
                };
                await axios.put("/cartItem/", data)
                this.$refs.alert.showAlert('success', 'Terima Kasih!', 'Berhasil Ditambahkan Ke Keranjang!')

            } else {
                let data = {
                    user_id: parseInt(this.user.user_id),
                    menu_id: parseInt(this.menu),
                    item_qty: parseInt(this.qty)
                };

                await axios.post("/cartItem/", data)
                this.$refs.alert.showAlert('success', 'Terima Kasih!', 'Berhasil Ditambahkan Ke Keranjang !')
            }
        }
    },
    components: {
        VueBasicAlert
    }
}
</script>

<style scoped>
.quick-view {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: center;
    justify-content: center;
}

.quick-view .quick-view-inner {
    width: 35%;
    height: 43%;
    background-color: #fff;
    padding: 32px;
}
.quick-view .quick-view-inner h2 {
    margin: 0;
    font-size: 28px;
    margin-top: 10px;
    font-weight: bold;
    color: #27ae60;
}

.quick-view .quick-view-inner .product-detail .image img {
    height: 20rem;
    margin: 20px;
    margin-left: 2px;
}

.quick-view .quick-view-inner .product-detail .content {
    margin-top: 20px;
    font-size: 20px;
    width: 100%;
}

.quick-view .quick-view-inner .product-detail .content p span {
    margin-left: 5px;
}

.quick-view .quick-view-inner .product-detail .content div label {
    margin-right: 10px;
}

.quick-view .quick-view-inner .product-detail .content .btn {
    margin-top: 5px;
    float: left;
}

.quick-views {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: center;
    justify-content: center;
}

.quick-views .quick-views-inner {
    width: 40%;
    height: 30%;
    background-color: #fff;
    padding: 32px;
    color: #27ae60;
}


@media (max-width: 768px) {

    .quick-view .quick-view-inner {
        width: 50vw;
        height: 40vh;

    }

    .quick-view .quick-view-inner h2 {
        font-size: 20px;
    }

    .quick-view .quick-view-inner .btn {
        font-size: 10px;
        padding: 0.3rem 0.9rem;
    }

    .quick-view .quick-view-inner .product-detail .image img {
        height: 12rem;
        margin: 30px;
        margin-left: 0px;

    }

    .quick-view .quick-view-inner .product-detail .content .desc {
        font-size: 12px;
    }

    .quick-view .quick-view-inner .product-detail .content .qty {
        font-size: 12px;
    }

    .link-to-login {
        margin-top: 10px !important;
    }
}

@media (max-width: 576px) {
    .quick-view .quick-view-inner {
        width: 70vw;
        height: 40vh;
    }

    .link-to-login {
        margin-top: 50px !important;
    }

    .link-to-login>a {
        padding: 20px !important;
        font-size: 8px !important;
    }

}
</style>
