<template>
  <div class="container">
    <h1>DAFTAR MENU</h1>
    <div class="table table-bordered">
        <table class="table colored-header datatable project-list">
            <thead style="background-color: seagreen; color: white">
                <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>Harga</th>
                    <th>Status</th>
                    <th>Kategori</th>
                    <th>Gambar</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="m in menuss" :key="m.menu_id">
                    <td>{{ m.menu_id }}</td>
                    <td>{{ m.menu_name }}</td>
                    <td>{{ m.menu_price }}</td>
                    <td>{{ m.menu_status }}</td>
                    <td>{{ m.menu_category }}</td>
                    <td>{{ m.menu_src }}</td>
                    <td>
                        <a class="btn btn-danger btn-circle" @click="deleteMenuss(m.menu_id)" style="background: #c43939; color: white">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>

</template>

<script>
import axios from "axios";

export default {
    name: 'DaftarMenu',
    data() {
        return {
            menuss: [],
        };
    },

    created() {
        this.getMenuss();
    },

    methods: {
        async getMenuss() {
            try {
                const response = await axios.get("/menus");
                this.menuss = response.data;
            } catch (err) {
                console.log(err);
            }
        },
        async deleteMenuss(id) {
            try {
                await axios.delete("/menus/" + id);
                this.getMenuss();
            } catch (err) {
                console.log(err);
            }
        },
    },
};


</script>

<style>
.container {
    background-color: #fff;
    height: 100vh;
    font-size: 16px;
}

.container h1 {
    text-align: center;
    margin-top: 35px; 
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold; 
    font-family: Montserrat
}

.project-list>tbody>tr>td {
    padding: 12px 12px;
}

.project-list>tbody>tr>td .avatar {
    width: 22px;
    border: 1px solid #CCC;
}

.table-responsive {
    margin-top: 8vh;
}

</style>