<template>
    <div>
        <div class="home-main">
            <div class="content">
                <span>Selamat Datang!</span>
                <h3>Ayo Pesan Makanan dan Minuman Favoritmu.</h3><br>
                <router-link @click="scrollToTop()" to="/menus" class="btn" style="background-color: seagreen; font-weight: bold;">Pesan Sekarang</router-link>
            </div>
            <div class="image">
                <img src="../assets/images/an-resto.png" alt="" class="home-img">
            </div>
        </div>
        
        
        <div class="home-about">
            <div class="image">
                <img src="../assets/images/about-resto.jpg" alt="">
            </div>
            <div class="content">
                <span>Tentang Kami</span>
                    <p>Restoranku Didirikan pada tanggal 2 Juni 2004 berlokasi di Jln. Mangga, Utan Kayu Selatan, Matraman, Jakarta
                        Timur.
                        Restoranku menyajikan makanan yang segar dan berkualitas.
                        Dengan ini Kami mempunyai misi "Makanan Tidak Enak, Uang Kembali".
                    </p>
            <div class="icons-container">
                <div class="icons">
                    <img src="../assets/images/serv-2.png" alt="">
                        <h3>Makanan & Minuman Segar</h3>
                    </div>
                    <div class="icons">
                        <img src="../assets/images/serv-3.png" alt="">
                        <h3>Kualitas Terbaik</h3>
                    </div>
                </div>
            </div>
        </div>
    
        

        <br><br>
        
       
            <div class="home-contact" >
                <div class="content">
                    <span>Contact Us</span>

                    <div class="icons-container">
                        <div class="icons">
                            <img src="../assets/images/icon-1.png" alt="">
                            <h3>10:00am to 9:00pm</h3>
                        </div>
                        <div class="icons">
                            <img src="../assets/images/icon-2.png" alt="">
                            <h3>+62 081 123 345</h3>
                        </div>
                        <div class="icons">
                            <img src="../assets/images/icon-3.png" alt="">
                            <h3>Jln. Mangga, Utan Kayu Selatan, Matraman, Jakarta Timur, 12345</h3>
                        </div>
                    </div>
                </div>
                <div class="input-box">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.5163421064885!2d106.86108912167258!3d-6.195395881169322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f4f553039673%3A0x4f08cadcabdc86b4!2sJl.%20Mangga%20No.1%2C%20RT.2%2FRW.6%2C%20Utan%20Kayu%20Utara%2C%20Kec.%20Matraman%2C%20Kota%20Jakarta%20Timur%2C%20Daerah%20Khusus%20Ibukota%20Jakarta%2013120!5e0!3m2!1sen!2sid!4v1668269699129!5m2!1sen!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        

        <br><br><br>
    </div>
</template>

<script>
export default {
    name: "Home",

    methods: {
        scrollToTop() {
            window.scrollTo(0, 0);
        }
    }
};
</script>

<style scoped>
.home-main,
.home-about,
.home-banner,
.home-category {
    padding: 2rem 9%;
}

.home-main {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 2rem;
    position: relative;
    overflow: hidden;
}

.home-main .content {
    flex: 1 1 41rem;
}

.home-main .content span {
    font-size: 2rem;
    color: seagreen;
    font-weight: bold;
    font-family: Montserrat;
}

.home-main .content h3 {
    font-size: 4rem;
    color: #1a1814;
    opacity: 1;
    padding-top: 1rem;
}

.home-main .image {
    flex: 1 1 41rem;
    margin: 2rem 0;
    pointer-events: none;
}

.home-main .image .home-img {
    width: 100%;
    margin-top: 5rem;
}

.home-main .home-parallax-img {
    position: absolute;
    top: -15rem;
    right: -15rem;
    width: 80vw;

}
.home-about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    background: #f7f7f7;
}

.home-about .image {
    flex: 1 1 40rem;
}

.home-about .image img {
    width: 100%;
}

.home-about .content {
    flex: 1 1 40rem;
}

.home-about .content span {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 3rem;
    color: #27ae60;
}

.home-about .content .title {
    font-size: 3rem;
    padding-top: .5rem;
    color: black;
}

.home-about .content p {
    padding: 1rem 0;
    line-height: 2;
    font-size: 1.4rem;
    color: #666;
}

.home-about .content .icons-container {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home-about .content .icons-container .icons {
    flex: 1 1 20rem;
    border-radius: .5rem;
    background: #fff;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.home-about .content .icons-container .icons h3 {
    font-size: 1.7rem;
    color: #130f40;
}

.home-contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5rem;
    margin-left: 200px;
}
.home-contact .content {
    flex: 0 0 40%;
}

.home-contact .content span {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 3rem;
    color: #27ae60;
}

.home-contact .content .icons-container {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home-contact .content .icons-container .icons {
    flex: 1 1 20rem;
    border-radius: .5rem;
    background: #fff;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.home-contact .content .icons-container .icons h3 {
    font-size: 1.7rem;
    color: #130f40;
}

@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
    }

    .home-main .home-parallax-img {
        top: 0;
        right: 0;
        width: 100%;
    }

    .home-banner .grid-banner .content h3 {
        font-size: 15px !important;
    }

    .home-banner .grid-banner .content.center {
        padding-left: 0px !important;
    }

}

@media (max-width: 576px) {
    .home-main .content h3 {
        font-size: 3rem;
    }

    .home-main .content p {
        font-size: 1.5rem;
    }
}
</style>




