<template>
    <div class="menu-section">
        <div class="heading">
            <span>menu</span>
            <h3>hidangan spesial kami</h3>
        </div>

        <div class="row">
            <div class="col-sm-4 col-12 filter-box">
                <div class="row search-box">
                    <input type="text" class="search-input" v-model="menuVal.name" placeholder="Search.." />
                </div>

                <div class="row filter-drop-down">
                    <p @click="displayFilterDrop">Filter<span v-if="showDropDown">x</span><span v-else>v</span></p>
                </div>

                <div class="row filter-heading">
                    <h1>Status</h1>
                </div>

                <div class="row filter-section">
                    <ul class="filter-option">
                        <li>
                            <input type="button" name="cbStatus" id="bsStatus" value="Best Seller" hidden
                                @click="filterStatusBtn($event)" />
                            <label for="bsStatus" class="d-flex justify-content-between">Best Seller
                                <button class="unselect-btn" @click="unselectStatusBtn($event)"
                                    value="Best Seller">X</button></label>
                        </li>
                    </ul>
                    <hr />
                </div>

                <div class="row filter-heading">
                    <h1>Harga</h1>
                </div>

                <div class="row filter-section">
                    <ul class="filter-option">
                        <li>
                            <input type="button" name="rPrice" id="rtfPrice" value="2000,10000" hidden
                                @click="filterPriceBtn($event)" />
                            <label for="rtfPrice" class="d-flex justify-content-between">Rp. 2000 - 10000 <button
                                    class="unselect-btn" @click="unselectPriceBtn($event)">X</button></label>
                        </li>

                        <li>
                            <input type="button" name="rPrice" id="rftPrice" value="10000,20000" hidden
                                @click="filterPriceBtn($event)" />
                            <label for="rftPrice" class="d-flex justify-content-between">Rp. 10000 - 20000 <button
                                    class="unselect-btn" @click="unselectPriceBtn($event)">X</button></label>
                        </li>

                        <li>
                            <input type="button" name="rPrice" id="rttPrice" value="20000,50000" hidden
                                @click="filterPriceBtn($event)" />
                            <label for="rttPrice" class="d-flex justify-content-between">Rp. 20000 - 50000 <button
                                    class="unselect-btn" @click="unselectPriceBtn($event)">X</button></label>
                        </li>

                        <li>
                            <input type="button" name="rPrice" id="mtPrice" value="50000" hidden
                                @click="filterPriceBtn($event)" />
                            <label for="mtPrice" class="d-flex justify-content-between">{{ ">" }} Rp. 50000 <button
                                    class="unselect-btn" @click="unselectPriceBtn($event)">X</button></label>
                        </li>

                    </ul>
                    <hr />
                </div>
            </div>

            <div class="col-sm-8">
                <div class="row">
                    <div class="menu-tabs">
                        <input type="button" id="allFilterMenuBtn" name="allFilterMenuBtn" value="all"
                            class="menu-tab-item" @click="filterMenuBtn($event)" />
                        <input type="button" id="ayamFilterMenuBtn" name="ayamFilterMenuBtn" class="menu-tab-item"
                            value="ayam" @click="filterMenuBtn($event)" />
                        <input type="button" id="seafoodFilterMenuBtn" name="seafoodFilterMenuBtn" class="menu-tab-item"
                            value="seafood" @click="filterMenuBtn($event)" />
                        <input type="button" id="nasiFilterMenuBtn" name="nasiFilterMenuBtn" class="menu-tab-item"
                            value="nasi" @click="filterMenuBtn($event)" />
                        <input type="button" id="mieFilterMenuBtn" name="mieFilterMenuBtn" class="menu-tab-item"
                            value="mie" @click="filterMenuBtn($event)" />
                        <input type="button" id="minumanFilterMenuBtn" name="minumanFilterMenuBtn" class="menu-tab-item"
                            value="minuman" @click="filterMenuBtn($event)" />
                    </div>
                </div>

                <div class="row box-container">
                    <div v-for="(m, index) in currentPageItems" :key="index">
                        <div class="box">
                            <div class="image">
                                <img :src="require(`../assets/images/${m.menu_src}`)" alt="" />
                            </div>
                            <div class="content">
                                <h3>{{ m.menu_name }}</h3>
                                <div class="price">
                                    <span>Rp. {{ m.menu_price }}</span>
                                </div>
                                <br>
                                <button class="btn" @click="addItem(index)">Lihat</button>
                            </div>
                        </div>
                    </div>
                    <div v-if="!filterMenus.length">
                        <div class="box">
                            <div class="content">
                                <h1 style="color: #057835fa;">Menu Tidak Ditemukan</h1>
                            </div>
                            <div class="image">
                                <img src="../assets/images/notfound.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="calculatePages > 1" class="action-row">

                    <button v-if="pageNum != 0" @click="previous()" class="action-btn"> {{ "<" }} </button>
                        <div v-for="(p, i) in calculatePages" :key="i" class="d-inline">
                            <span v-if="i == pageNum" class="highlight" @click="set(i)">{{ i + 1 }}</span>
                            <span v-else @click="set(i)">{{ i + 1 }}</span>
                        </div>
                        <button v-if="pageNum != calculatePages - 1" @click="next()" class="action-btn"> {{ ">" }}</button>
                </div>
            </div>
        </div>
        <QuickViews v-if="showQuickViews" :menu="sendId">
            <button class="btn" @click="closeView">X</button>
        </QuickViews>
    </div>

</template>

<script>
import QuickViews from "@/components/QuickViews.vue";
import { mapState } from "vuex";

export default {
    name: "Menus",
    
    data() {
        return {
            menuVal: { name: "", category: "", status: [], price: "" },
            
            showQuickViews: false,
            showDropDown: false,
            sendId: null,

            perPage: 7,
            pageNum: 0,
            previousCategoryClicked: "",
            previousPriceClicked: "",
            previousTypeClicked: "",
        };
    },
    computed: {
        ...mapState(["allMenus"]),

        filterMenus: function () {
            return this.allMenus.filter((m) => m.menu_name.toLowerCase().match(this.menuVal.name.toLowerCase()) &&
                (m.menu_category.match(this.menuVal.category) || this.menuVal.category == "all" || this.menuVal.category == "") &&
                (this.evaluatePrice(m, this.menuVal.price)) && (this.evaluateStatus(m, this.menuVal.status)));
        },
        currentPageItems: function () {
            return this.filterMenus.slice(this.pageNum * this.perPage, this.pageNum * this.perPage + this.perPage);
        },
        calculatePages: function () {
            if (this.filterMenus.length % this.perPage != 0) {
                return Math.floor((this.filterMenus.length) / this.perPage) + 1;
            }
            else {
                return this.filterMenus.length / this.perPage;
            }
        }
    },
    methods: {
        set(val) {
            this.pageNum = val;
        },
        next() {
            this.pageNum++;
        },
        previous() {
            this.pageNum--;
        },
        checkBest: function (menu, statusArray) {
            if (statusArray.includes("Best Seller")) {
                if (menu.menu_status.includes("best seller")) {
                    return true;
                }
                else {
                    return false;
                }
            }
            return true;
        },
        evaluateStatus: function (menu, statusArray) {
            this.pageNum = 0;
            if (statusArray.length != 0) {
                if (this.checkBest(menu, statusArray)) {
                    return menu;
                }
            }
            else {
                return menu;
            }
        },
        evaluatePrice: function (menu, priceRange) {
            this.pageNum = 0;
            var cal = menu.menu_price;
            if (priceRange == "2000,10000") {
                if (2000 <= cal && cal <= 10000) {
                    return menu;
                }
            }
            else if (priceRange == "10000,20000") {
                if (10000 <= cal && cal <= 20000) {
                    return menu;
                }
            }
            else if (priceRange == "20000,50000") {
                if (20000 <= cal && cal <= 50000) {
                    return menu;
                }
            }
            else if (priceRange == "50000") {
                if (cal >= 50000) {
                    return menu;
                }
            }
            else if (priceRange == "") {
                return menu;
            }
        },
        filterMenuBtn: function (e) {
            this.pageNum = 0;
            if (this.menuVal.category != e.target.value && this.previousCategoryClicked != "") {
                this.previousCategoryClicked.target.style.background = "#27ae60";
            }
            this.menuVal.category = e.target.value;
            this.previousCategoryClicked = e;
            e.target.style.background = "#057835fa";
        },
        filterStatusBtn: function (e) {
            this.pageNum = 0;
            if (this.menuVal.status.includes(e.target.value) == false) {
                this.menuVal.status.push(e.target.value);
                document.querySelector(`[for=${e.target.id}]`).style.background = "#057835fa";
                document.querySelector(`[for=${e.target.id}]`).style.color = "white";
                document.querySelector(`[for=${e.target.id}]`).querySelector(":scope > button").style.display = "block";
            }
        },
        filterPriceBtn: function (e) {
            this.pageNum = 0;
            this.menuVal.price = "";
            this.menuVal.price += e.target.value;
            document.querySelector(`[for=${e.target.id}]`).style.background = "#057835fa";
            document.querySelector(`[for=${e.target.id}]`).style.color = "white";
            document.querySelector(`[for=${e.target.id}]`).querySelector(":scope > button").style.display = "block";
            if (this.previousPriceClicked != "") {
                document.querySelector(`[for=${this.previousPriceClicked.target.id}]`).style.background = "inherit";
                document.querySelector(`[for=${this.previousPriceClicked.target.id}]`).style.color = "inherit";
                document.querySelector(`[for=${this.previousPriceClicked.target.id}]`).querySelector(":scope > button").style.display = "none";
            }
            this.previousPriceClicked = e;
        },
        unselectStatusBtn: function (e) {
            this.pageNum = 0;
            this.menuVal.status = this.menuVal.status.filter(function (a) { return a !== e.target.value; });
            e.target.parentNode.style.background = "inherit";
            e.target.parentNode.style.color = "inherit";
            e.target.parentNode.querySelector(":scope > button").style.display = "none";
        },
        unselectPriceBtn: function () {
            this.pageNum = 0;
            this.menuVal.price = "";
            document.querySelector(`[for=${this.previousPriceClicked.target.id}]`).style.background = "inherit";
            document.querySelector(`[for=${this.previousPriceClicked.target.id}]`).style.color = "inherit";
            document.querySelector(`[for=${this.previousPriceClicked.target.id}]`).querySelector(":scope > button").style.display = "none";
            this.previousPriceClicked = "";
        },
        addItem: function (index) {
            this.sendId = parseInt(this.currentPageItems[index].menu_id);
            this.showQuickViews = !this.showQuickViews;
        },
        closeView: function () {
            this.showQuickViews = !this.showQuickViews;
        },
        displayFilterDrop: function () {
            let divControl1 = document.getElementsByClassName("filter-heading");
            let divControl2 = document.getElementsByClassName("filter-section");
            for (var i = 0; i < divControl1.length; i++) {
                if (this.showDropDown) {
                    divControl1[i].style.display = "none";
                    divControl2[i].style.display = "none";
                }
                else {
                    divControl1[i].style.display = "block";
                    divControl2[i].style.display = "block";
                }
            }
            this.showDropDown = !this.showDropDown;
        }
    },
    components: { QuickViews }
};
</script>

<style>
input[type="button"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.unselect-btn:active,
.unselect-btn:focus,
.action-btn:active,
.action-btn:focus {
    border: none;
    outline: none;
}

hr {
    border-top: 3px solid seagreen;
    width: 100%;
}

.unselect-btn {
    background: transparent;
    padding-right: 10px;
    cursor: pointer;
    color: inherit;
    display: none;
}


.filter-section {
    width: inherit;
}

.filter-heading {
    padding-top: 10px;
    padding-bottom: 5px;
}

.filter-heading h1 {
    color: #27ae60;
}

.filter-option {
    list-style-type: none;
    width: inherit;
}

.filter-option label {
    width: 100%;
    font-size: 15px;
    padding: 3px 0px;

}

.filter-option label:hover {
    color: white;
    background-color: darkgreen !important;
    transition: all 0.5s ease;
}

.search-box {
    width: 100%;
    justify-content: center;
    position: relative;
    display: flex;
}

.search-input {
    margin: 0;
    width: 100%;
    height: 40px;
    font-size: 20px;
    color: white;
    background: #27ae60;
}

::placeholder {
    color: white;
}

.menu-section {
    padding: 2rem 9%;
}

.menu-section .menu-tabs {
    margin-bottom: 30px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    background-color: #27ae60;
}

.menu-section .menu-tabs .menu-tab-item {
    display: inline-block;
    cursor: pointer;
    padding: 5px 30px;
    border-radius: 30%;
    font-size: 20px;
    color: whitesmoke;
    font-weight: 500;
    text-transform: capitalize;
    transition: all 0.3s ease;
    margin: 0;
}

.menu-section .menu-tabs .menu-tab-item:hover {
    background-color: darkgreen !important;
}

.menu-section .menu-tabs .menu-tab-item p {
    padding: none;
    margin: none;
}

.menu-section .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.menu-section .box-container .box {
    border-radius: 0.5rem;
    position: relative;
    background: #f7f7f7;
    padding: 2rem;
    text-align: center;
}

.menu-section .box-container .box .fa-heart {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2.5rem;
    color: #666;
    cursor: pointer;
}

.menu-section .box-container .box .fa-heart:hover {
    color: #27ae60;
}

.menu-section .box-container .box .image {
    margin: 1rem 0;
}

.menu-section .box-container .box .image img {
    height: 15rem;
}

.menu-section .box-container .box .content h3 {
    font-size: 2rem;
    color: #130f40;
}

.menu-section .box-container .box .content .stars {
    padding: 1rem 0;
    font-size: 1.7rem;
}

.menu-section .box-container .box .content .stars i {
    color: darkgreen;
}

.menu-section .box-container .box .content .stars span {
    color: #666;
}

.menu-section .box-container .box .content .price {
    font-size: 2rem;
    color: #130f40;
}

.menu-section .box-container .box .content .price span {
    font-size: 1.7rem;
    color: black;
}

.menu-section .action-row {
    padding-top: 30px;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.menu-section .action-row .action-btn {
    background-color: #27ae60;
    padding: 3px;
    border: 2px solid #27ae60;
    border-radius: 30%;
    color: white;
}

.menu-section .action-row span {
    margin-right: 15px;
}

.menu-section .action-row span:hover {
    cursor: pointer;
}

.menu-section .action-row span.highlight {
    color: darkgreen;
}

.menu-section .action-row span:first-of-type {
    margin-left: 15px;
}

.filter-drop-down {
    display: none;
}

@media (min-width: 576px) {

    .filter-heading,
    .filter-section {
        display: block !important;
    }
}

@media (max-width: 768px) {
    .menu-section .box-container {

        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 1rem;
    }

    .menu-section .box-container .box .content h3 {
        height: 4rem;
    }
}

@media (max-width: 576px) {

    .search-box,
    .filter-heading,
    .filter-section {
        width: auto;
    }

    .filter-option {
        width: 100%;
    }

    .filter-drop-down {
        display: block;
        background-color: #27ae60;
        color: white;
        font-weight: 400;
        margin-bottom: 15px;
        margin-top: 15px;

    }

    .filter-drop-down p {
        font-size: 20px;
        padding: 5px 0px;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }

    .filter-drop-down p span {
        font-size: 20px;
        padding-right: 10px;
        text-transform: lowercase;
        font-weight: 300;
    }

    .filter-heading,
    .filter-section {
        display: none;
    }

    .menu-tabs .menu-tab-item {
        font-size: 12px !important;
        padding: 5px 20px !important;
    }

    .menu-section .action-row {
        font-size: 16px !important;
    }

    .menu-section .action-row span {
        margin-right: 5px;
    }

    .menu-section .box-container .box .image img {
        height: 10rem;
    }

    .menu-section .box-container .box .content h3 {
        font-size: 14px !important;
        height: 28px;
    }
}
</style>